@import "tailwindcss"; 

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out;
}
